:root {
  /* Colors */
  --color-bg: #d9d9d9; /* BACKGROUND */
  --color-text: #2c2c28; /* TEXT */
  --color-primary: #f5f5f5; /* CARDS NAVBAR SECTIONS */
  --color-secondary: #2197bd; /* BUTTONS AND LINKS */
  --color-accent: #5ce1e6; /* HIGHLIGHTS AND HOVER STATES */

  --color-danger: #e74c3c; /* Danger, Buttons / Alerts */
  --color-danger-alt: #c0392b; /* Darker, Borders / Text */
  --color-danger-light: #ff6b6b; /* Lighter, Hover / Badges */

  --color-dark: #222222;
  --color-light: #ffffff;

  /* Typography */
  --font-base: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;

  /* Font Sizes */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 2rem; /* 32px */
  --text-3xl: 2.5rem; /* 40px */
  --text-4xl: 3rem; /* 48px */

  /* Image and Icon Sizes */
  --logo-image-height-sm: 40px;
  --hero-image-height-sm: 220px;
  --hero-image-height-lg: 300px;
  --social-icon-height-sm: 32px;
  --map-image-width-sm: 450px;

  /* Spacing */
  --space-xsm: 0.25rem; /* 4px */
  --space-xs: 0.5rem; /* 8px */
  --space-sm: 1rem; /* 16px */
  --space-md: 1.5rem; /* 24px */
  --space-lg: 2rem; /* 32px */
  --space-xl: 3rem; /* 48px */
  --space-2xl: 4rem; /* 64px */

  /* Radius, Borders & Shadows */
  --radius-sm: 8px;
  --radius-lg: 50px;
  --shadow-sm: 0 14px 28px rgba(0, 0, 0, 0.1);
  --shadow-sm-accent: 0 14px 28px var(--color-accent);
  --shadow-lg: 0 6px 20px rgba(0, 0, 0, 0.12);
  --shadow-lg-accent: 0 6px 20px var(--color-accent);
  --border-sm: 2px;
  --border-lg: 4px;
  --text-shadow-accent-sm: 2px 2px var(--color-accent);
  --text-shadow-accent-lg: 4px 4px var(--color-accent);

  /* Widths */
  --translateY-width: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* 16px default */
}

body {
  font-family: var(--font-base);
  font-size: var(--text-base);
  line-height: 1.6;
  color: var(--color-text);
  background: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: var(--space-sm);
  color: var(--color-text);
}

h1 {
  font-size: var(--text-3xl);
}
h2 {
  font-size: var(--text-2xl);
}
h3 {
  font-size: var(--text-xl);
}
p {
  margin-bottom: var(--space-sm);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-secondary);
}

/* em[class="deg"],
em[class="speed-unit"] {
  font-style: normal;
} */

input,
textarea {
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--text-xl);
  border: var(--border-sm) solid var(--color-primary);
  border-radius: var(--radius-sm);
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: var(--color-accent);
}

/* select#unit {
  background-color: var(--color-primary);
  outline: none;
  border: 1px solid var(--color-secondary);
  color: var(--color-text);
  border-radius: var(--radius-sm);
  padding: var(--space-xsm) var(--space-sm);
  font-family: var(--font-base);
  font-size: var(--text-xl);
  cursor: pointer;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
} */

.disabled,
.disabled:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.hidden {
  display: none;
}

.shadow_accent {
  box-shadow: var(--shadow-lg-accent);
}

.wrapper {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
  padding: var(--space-lg);
  min-width: 95dvw;
  max-height: 95dvh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: var(--radius-lg);
  gap: var(--space-lg);
  transition: all 300ms ease-in-out;
  text-align: center;
}

.container h1 {
  color: var(--color-secondary);
  text-shadow: var(--text-shadow-accent-sm);
}

.btn-primary {
  align-self: start;
  padding: var(--space-sm) var(--space-md);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  border-radius: var(--radius-sm);
  font-size: var(--text-xl);
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: var(--color-accent);
  color: var(--color-secondary);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* End of starter template */

/* Navbar Base */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm) var(--space-lg);
  background: var(--color-primary);
  box-shadow: var(--shadow-lg);
  width: 100%;
  margin: var(--space-sm) 0;
  border-radius: var(--radius-sm);
  font-family: var(--font-heading);
  font-size: var(--text-2xl);
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

/* .logo img {
   height: var(--logo-image-height-lg);
   border-radius: 50%;
   object-fit: cover;
   aspect-ratio: 1 / 1; 
} */

.logo span {
  color: var(--color-secondary);
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: var(--space-md);
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: var(--color-secondary);
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.banner {
  min-width: 100%;
}

.banner img {
  object-fit: cover;
  width: 100%;
}

.banner span {
  color: var(--color-secondary);
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--space-sm);
}

.contact-form button {
  width: 100%;
}

/* Cards Container */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--space-md);
  width: 100%;
}

.card {
  background: var(--color-primary);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  padding: var(--space-md);
  margin: var(--space-md) auto;
  max-width: 500px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-lg);
  box-shadow: var(--shadow-sm-accent);
  cursor: pointer;
  background-color: var(--color-secondary);
}

.card h2 {
  font-size: var(--text-xl);
  color: var(--color-secondary);
  margin-bottom: var(--space-sm);
  border-bottom: var(--border-lg) solid var(--color-accent);
}

.card p {
  font-size: var(--text-base);
  color: var(--color-text);
  margin-bottom: var(--space-sm);
}
.card p.blog-time {
  text-align: end;
  margin-bottom: 0;
  text-decoration: overline;
  text-decoration-thickness: var(--border-sm);
  text-decoration-color: var(--color-accent);
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: var(--space-sm);
  padding-bottom: var(--space-xsm);
}

.card span {
  color: var(--color-danger);
  font-size: var(--text-xl);
  border-radius: 50%;
  border: 2px solid var(--color-danger-alt);
  padding: var(--space-xsm);
  position: absolute;
  left: var(--space-xsm);
  bottom: var(--space-xsm);
  transition: all 0.3s ease;
}

.card span:hover {
  color: var(--color-danger-alt);
  border: 2px solid var(--color-danger);
  scale: 1.1;
}

.about-container {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  gap: var(--space-md);
  max-width: 1000px;
  margin: 0 auto;
  /* padding: 0 var(--space-sm); */
}

.about-img {
  height: var(--hero-image-height-lg);
  object-fit: contain;
  border-radius: 50%;
  border: var(--border-lg) solid var(--color-secondary);
  box-shadow: var(--shadow-lg-accent);
  aspect-ratio: 1 / 1;
  background: var(--color-bg);
}

/* INFO TEXT */
.about-info {
  background-color: var(--color-secondary);
  padding: var(--space-lg);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-lg-accent);
}

.about-text {
  text-align: center;
  font-size: var(--text-xl);
  line-height: 1.6;
  color: var(--color-text);
  font-weight: 500;
}

/* DETAILS LIST */
.about-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-details li {
  display: flex;
  font-size: var(--text-lg);
  margin-bottom: var(--space-xs);
  color: var(--color-text);
  align-items: baseline;
}

.about-details span {
  font-weight: 600;
  color: var(--color-accent);
  font-size: var(--text-xl);
}

.about-details p {
  font-weight: 500;
  padding-left: var(--space-sm);
  color: var(--color-text);
}

.social-icons {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  justify-content: center;
}

.social-icons img {
  height: var(--social-icon-height-lg);
  transition: transform 0.2s ease;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  border: var(--border-lg) solid var(--color-accent);
  border-radius: var(--radius-lg);
  background-color: var(--color-primary);
}

.social-icons img:hover {
  transform: scale(1.1);
}

.contact-container {
  display: flex;
  gap: var(--space-lg);
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

/* IMAGE */
.contact-img img {
  width: 100%;
  max-width: var(--map-image-width-lg);
  border-radius: var(--radius-sm);
  align-self: center;
  box-shadow: var(--shadow-lg);
}

/* FORM */
.contact-form {
  flex: 1;
  width: 100%;
  max-width: 500px;
  padding: var(--space-md);
  border-radius: 12px;
  box-shadow: var(--shadow-lg-accent);
}

/* Sidebar for Mobile */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 200px;
    background: var(--color-primary);
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: var(--space-lg);
    transition: right 0.3s ease-in-out;
    padding-top: var(--space-xl);
    margin: var(--space-sm);
    border-radius: var(--radius-sm);
    z-index: 1000;
  }

  .nav-links.show {
    right: 0;
  }

  .close-btn {
    display: block;
  }
}

@media (max-width: 1000px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-info {
    text-align: left;
    padding: var(--space-sm);
    width: 100%;
  }

  .contact-container {
    flex-direction: column;
  }
}

@media (max-width: 440px) {
  :root {
    --text-xs: 0.25rem;
    --text-sm: 0.5rem;
    --text-base: 0.75rem;
    --text-lg: 0.85rem;
    --text-xl: 1rem;
    --text-2xl: 1.25rem;
    --text-3xl: 1.5rem;
    --text-4xl: 2rem;

    --space-xsm: 0.125rem;
    --space-xs: 0.25rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 3rem;
  }

  .container {
    border-radius: var(--radius-sm);
  }

  .about-img {
    height: var(--hero-image-height-sm);
  }

  .social-icons img {
    height: var(--social-icon-height-sm);
  }
}
