<%- include('partials/header.ejs') %>
<div class="about-container">
  <!-- Profile Image -->
  <div class="about-img">
    <img
      class="about-img"
      src="/assets/images/mehero.png"
      alt="Akash's Picture"
    />
  </div>

  <div class="about-info">
    <p class="about-text">
      I’m a passionate <strong>Fullstack Web Developer</strong> who loves
      building user-friendly and innovative applications. I enjoy solving
      real-world problems with clean and efficient code, and I’m always
      exploring new technologies to grow my skillset.
    </p>

    <div class="about-details">
      <ul>
        <li>
          <span>Email:</span>
          <p>therealakash13@gmail.com</p>
        </li>
        <li>
          <span>Phone:</span>
          <p>+91 9971104373</p>
        </li>
        <li>
          <span>Location:</span>
          <p>Delhi, India</p>
        </li>
        <li>
          <span>Hobbies:</span>
          <p>Code, Chai, Anime, Music</p>
        </li>
      </ul>
    </div>

    <div class="social-icons">
      <a href="#"><img src="/assets/images/github.png" alt="GitHub" /></a>
      <a href="#"><img src="/assets/images/gmail.png" alt="Gmail" /></a>
      <a href="#"><img src="/assets/images/linkedin.png" alt="LinkedIn" /></a>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
