<%- include('partials/header.ejs') %> 

    <h2>Create you Blog here...</h2>

    <form class="contact-form" action="/create" method="POST">
        <div class="form-group">
            <input
                type="text"
                id="title"
                name="title"
                placeholder="Title"
                required
            />
        </div>

        <div class="form-group">
            <textarea
                id="content"
                name="content"
                rows="10"
                placeholder="Content"
                required
            ></textarea>
        </div>

        <button type="submit" class="btn-primary">Create</button>
    </form>

<%- include('partials/footer.ejs') %>