<%- include('partials/header.ejs') %> 
<din class="banner">
    <img src="assets/images/weblogbanner.png" alt="weblog-banner" >
    <h2><span>Create</span> a new Blog, <span>Write</span> your own Story.</h2>
</din>
<%- include('partials/footer.ejs') %>